body {
    background-color: rgb(255, 208, 0);
}

.navbar-custom {
    background-color: #28a745;
}

.btn-custum {
    background-color: #28a745;
}
.copy {
    background-color: #28a745;
}
@import url("https://fonts.googleapis.com/css2?family=Modak&display=swap");

h1 {
    font-family: "Modak", cursive;
}
h1 {
    font-family: "Modak", cursive;
}

p {
    font-family: "Modak", cursive;
}

/* change the brand and text color 
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(49, 38, 13, 0.884);
}
/* change the link color 
.navbar-custom .navbar-nav .nav-link {
    color: rgba(49, 38, 13, 0.884);
}*/
/* change the color of active or hovered links 
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}*/
